html,
body {
  scroll-behavior: smooth;

  height: 100%;
}

.appFirstPageBackgroundImage {
  background: url("https://cdn.ticketswap.com/public/201810/9b09e0c7-9852-496c-bebd-4edaaa839529.36abaf06f65fbaa0971d7bb9d6c45ab0fff5ddc0.jpeg");
  height: calc(var(--vh, 1vh) * 100);
  background-position: center;
  color: white;
  justify-content: space-between;

  font-weight: 600;
  /* background-repeat: no-repeat; */
}
.appMenuHeader {
  font-weight: 600;
  color: rgb(0, 182, 240);
}
.appContentBox {
  height: calc(var(--vh, 1vh) * 100);
}

.appMenuPage {
  animation: skew 0.25s !important;
  transform-style: preserve-3d;
}

@keyframes skew {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.eventBox{
  margin: 10px;
  border: 1px solid lightgray;
  border-radius: 20px;
}
.filterBox{
  border-bottom: 1px solid lightgray;
 
}
.filterButton{
  box-shadow: none!important;
  width: 100vmin;
  >div{
    display: flex;
    justify-content: start;
    text-align: start;
  
  }
  margin: 0;
  border: 0px solid lightgray!important;
}

.filterHeader{
  font-size: .95rem;
  font-weight: 600;
  height: 2.5rem;
}
.filterSubHeader{
  font-size: .8rem;
  font-weight: 100;
  line-height: .7rem;
}