// brand-color - #7d4cdb,//#8b16ff,//#036ee3// #FF698A pink// #FF8A64 orange//#9DCA74 green

* {
	box-sizing: border-box;
	--color-gray-400: hsl(225deg, 8%, 70%);
	--color-gray-500: hsl(225deg, 7%, 60%);
	--color-gray-600: hsl(225deg, 15%, 50%);
}
html,
body {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-gray-400);
	border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--color-gray-500);
}

.appLogoHeader {
	width: 150px;
	padding-top: 3px;
}

.defalultBoxShadowButton {
	> button {
		box-shadow: 0 1px 2px rgba(0, 19, 25, 0.2), 0 4px 12px rgba(0, 19, 25, 0.1);
	}
}

// test
.svgFillWhite {
	> path {
		// stroke:black!important;
		fill: white !important;
	}
}
.svgFillBlack {
	> path {
		// stroke:black!important;
		fill: #555555 !important;
	}
}
.svgStrokeBlack {
	> path {
		stroke: #555555 !important;
	}
}
.svgStrokeWhite {
	> path {
		stroke: white !important;
	}
}
.installPwa {
	position: fixed;
	bottom: 10px;
	margin: 5px;
	z-index: 10;
}
.installAppLogo {
	font-family: 'Proxima Nova', -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto,
		'segoe ui', arial, sans-serif;

	> img {
		height: 80px;
	}
	> div {
		> span:first-child {
			font-weight: 550;
		}
		> span:last-child {
			font-size: 1rem;
			opacity: 0.7;
		}
	}
}
.installPwaDsiplayNone {
	display: none !important;
}
.installAppButton {
	> button:first-child {
		font-size: 1.1rem;
		font-weight: 400;
		opacity: 0.7;
		padding-right: 20px;
	}
	> button:last-child {
		color: #7f38fb;
	}
}
.loginPage {
	overflow: hidden;
}
.loginText {
	> div {
		> span {
			font-size: 35px !important;
			font-weight: 500;
			line-height: 45px;
		}
	}

	padding: 0 0 20px 0;
}
.siginAppLogo {
	padding-bottom: 40px;
}
.loginText.signupNoPad {
	padding: 0;
}
.licenseTransformScale {
	transform: scaleX(-1);
}
.loginForm {
	z-index: 1;
	box-shadow: 0 1px 2px rgba(0, 19, 25, 0.2), 0 4px 12px rgba(0, 19, 25, 0.1);
	margin-bottom: 20px !important;
	border-radius: 20px;
	> div > div {
		border: 0;
		> div {
			border-bottom: 1px solid rgba(0, 0, 0, 0.33) !important;
		}
	}
	input {
		border: 0;
		font-weight: 400;
	}
}

.circle:before {
	content: ' \25CF';
	font-size: 200px;
	color: #8b16ff;
}
.circle {
	padding-top: 35px;
}
.circleBox {
	margin-right: -80px;
}
.circleBoxSignup {
	margin-left: -90px;
	> div:first-child {
		margin-bottom: -35px;
	}
	> div:last-child {
		margin-bottom: -35px;
	}
}
.circleSmall:before {
	content: ' \25CF';
	font-size: 100px;
	color: #8b16ff;
}
.circleSmall {
	padding-top: 15px;
}
.forgetPasswordButton {
	font-size: 1rem !important;
	font-weight: 500 !important;
}
.signInButton {
	width: 140px;
	margin-right: -45px !important;
	font-size: 1.1rem !important;
}
.signUpButtonOnLoginScreen {
	font-size: 35px !important;
	font-weight: 500 !important;
	margin-bottom: -20px !important;
}
.appMenuHeader {
	font-weight: 600;
	z-index: 10;
}
.marginTopBox {
	margin-top: 30px;
}
.appFirstPageBackgroundImage {
	background-image: url('https://cdn.ticketswap.com/public/201610/b934cb68-6a48-41dd-a16b-bc770462c0ae.jpeg') !important;
	height: 100vh;
	// background-position: center;
	background-size: cover;
	color: white;
	justify-content: space-between;
	padding: 0 4px;

	/* background-repeat: no-repeat; */
}
.categoryHeder {
	z-index: 3;
}
.eventListPaddingTop {
	padding-top: 80px !important;
}
.categoryHeaderHeight {
	height: 60px !important;
}
.categoryBackground {
	z-index: -1;
	position: absolute;
	top: 0;
	height: 25vh;
	width: 100vw;
}
.categoryBackground2 {
	z-index: -1;
	position: absolute;
	top: 25vh;
	height: 20px;
	width: 100vw;
}
.categoryBackground2:before {
	position: absolute;
	content: '';
	width: 120vw;
	height: 40px;

	left: calc(50% - 60vw);
	background-color: white;
	border-radius: 50% 50% 0 0;
	z-index: 2;
}
.appMenuPage {
	transform-style: preserve-3d;
}
.appDesc {
	padding: 24px 24px 0 24px;
	text-align: center;
	font-size: x-large;
	line-height: 2rem;
	margin-top: 7vh;
}
.backButton {
	position: absolute;
	> svg {
		width: 45px;
		height: 45px;
	}
}
.backButton.large {
	> svg {
		width: 50px;
		height: 50px;
	}
}

.backButton.relative {
	position: relative;
}
.searchBG {
	background: #0e1013;
}
.searchHeader {
	position: sticky;
	top: 0px;
	z-index: 2;
	background-color: white;
	padding-bottom: 10px;
}
.searchBox {
	> div {
		> input {
			border: 1px solid rgba(0, 0, 0, 0.33) !important;
			height: 45px;
		}
	}
	width: 100%;
}

.searchFilterButtonBox {
	font-family: 'Proxima Nova', -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto,
		'segoe ui', arial, sans-serif;
	padding: 0 16px;
	color: rgb(0, 182, 240);

	> span {
		font-weight: 550;
		font-size: 0.7rem;
		min-width: 70px;
	}
	> div {
		width: 100%;
		button {
			font-size: 0.7rem;
			font-weight: 550;
			color: white;
			padding: 0 7px;
			background-color: rgb(0, 182, 240);
			border: 0px !important;
			height: 24px;
			box-shadow: none !important;
			> div {
				> div {
					display: none;
				}
			}
		}
	}
}
.displayNoneIcon {
	display: none !important;
}
.locationSearchIcon {
	position: absolute;
	z-index: 2;
	left: 40px;
}
.filterBoxRow .locationSearchIcon {
	left: 22px;
}
.filterBoxBorder .locationSearch {
	padding-left: 45px;
	height: 35px;
	background-color: #f5f5f6;
	font-weight: 450;
	font-size: 16px;
	border-radius: 5px;
}
.filterBoxBorder .filterBoxRow .locationSearch {
	padding-left: 25px;
}
.appSearch {
	font-weight: 100 !important;
	background-color: white !important;
	padding-left: 45px !important;
	height: 55px;
	border-radius: 10px !important;
	max-width: 700px;
}
.appSearchIcon {
	position: absolute;
	z-index: 2;
	width: 50px !important;
}

.appMenuButton {
	margin-top: 10px !important;
	border: 0px !important;
	border-radius: 10px !important;
	height: 3rem;
	background-color: #f5f5f6 !important;
	> div {
		justify-content: space-between !important;
	}
}
.appMenuYourTickets {
	border: 0px !important;
	> div {
		justify-content: flex-start !important;
	}
}
.appMenuButtonsBox {
	padding-bottom: 20px;
}
.avatarSize {
	height: 100px !important;
	width: 100px !important;
	> svg {
		height: 50px !important;
		width: 50px !important;
	}
}
.categoryButton {
	margin-top: 10px !important;
	border: 0px !important;
	border-radius: 10px !important;
	height: 3rem;
	background-color: #f5f5f6 !important;
	> div {
		justify-content: flex-start !important;
	}
	padding: 0 15px !important;
}
.sellTicket {
	border-radius: 10px !important;
	height: 3rem;
	color: white !important;
	font-weight: 600 !important;
}
.dropDownContent {
}

@keyframes skew {
	0% {
		transform: scale(0.5);
	}
	100% {
		transform: scale(1);
	}
}

.filterBox {
	z-index: 3;
	margin: 24px 12px;
	box-shadow: 0 1px 2px rgba(0, 19, 25, 0.2), 0 4px 12px rgba(0, 19, 25, 0.1);
	border-radius: 20px;
	> div:last-child {
		border-bottom: 0;
	}
}
.caretDown {
	> polygon {
		fill: grey !important;
	}
}
.filterBoxRow {
	z-index: 4;
	background-color: white;
	position: sticky;
	top: 60px;
	flex-direction: row !important;
	box-shadow: 0 1px 2px rgba(0, 19, 25, 0.2), 0 4px 12px rgba(0, 19, 25, 0.1);

	border: 0 !important;
	> div {
		border: 0 !important;
	}
	> div:last-child {
		border-right: 0;
	}
}
.positionSticky {
	position: sticky;
	top: 0;
}
.positionFixed {
	position: fixed;
	width: 100%;
	top: 0;
	height: 60px;
}
.eventBox {
	height: 60px;
	background-color: #f5f5f6;

	margin-top: 12px;
	border-radius: 10px;
}
.eventCalendar {
	margin: 10px;
	box-shadow: 0 1px 2px rgba(0, 19, 25, 0.2), 0 4px 12px rgba(0, 19, 25, 0.1);
	> div {
		width: 100%;
		text-align: center;
		font-weight: 500;
	}
	> div:first-child {
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		color: white;
		background: red;
		font-size: 0.85rem;
	}
	> div:last-child {
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		padding: 5px;
		font-size: 1rem;
	}
}
.eventTicket {
	display: flex;
	align-items: center;
	justify-self: flex-end;
	padding: 0 10px 0 5px;
	height: 25px;
	margin-right: 15px;
	border-radius: 10px;

	box-shadow: 0 1px 2px rgba(0, 19, 25, 0.2), 0 4px 12px rgba(0, 19, 25, 0.1);
	color: white;
	> svg {
		transform: rotate(90deg);
		height: 15px;
		> path {
			// stroke:black!important;
			fill: white !important;
		}
	}
	> span {
		font-weight: 500;
	}
}
.eventTicketV2 {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	width: 40px;

	border-radius: 10px;
	background: rgb(0, 182, 240);
	box-shadow: 0 1px 2px rgba(0, 19, 25, 0.2), 0 4px 12px rgba(0, 19, 25, 0.1);
	color: white;
	> svg {
		transform: rotate(90deg);
		height: 20px;
		> path {
			// stroke:black!important;
			fill: white !important;
		}
	}
}
.eventTicket[ticket-Data] {
	background: rgb(0, 182, 240);
}
.eventTicket[ticket-Data][ticket-color] {
	background: #ff698a;
}

.eventTicket[ticket-Data='0'] {
	background: lightgray;
}
.notifyText {
	font-weight: 550;
	padding-right: 5px;
}

.eventTicket {
	background: lightgray;
}
.eventGrid {
	height: 100%;
	display: grid;
	align-items: center;
	gap: 4px;
	grid-template-columns: 1fr 3fr 1fr;
	border-radius: 10px;
}
.ticketGrid {
	height: 100%;
	display: grid;
	align-items: center;
	gap: 4px;
	grid-template-columns: 3fr 1fr 1fr;
	border-radius: 10px;
}
.ticketNameBox {
	padding-left: 10px;
	> span:first-child {
		font-weight: 500;
		line-height: 25px;
		font-weight: 550;
	}
	> span:last-child {
		opacity: 0.8;
		line-height: 16px;
	}
}
.ticketCost {
	padding-top: 4px;
	font-family: 'Proxima Nova', -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto,
		'segoe ui', arial, sans-serif;
	font-weight: 550;
	> img {
		height: 15px;
	}
}
.ticketSelect {
	width: 35px !important;
	height: 20px;
}
.ticketCostBuyTicket {
	padding-top: 4px;
	> img {
		height: 15px;
	}
}

.ticketBuyCircle:before {
	/* creates the red circle */
	position: absolute;
	content: '';
	width: 90px;
	height: 90px;
	top: -5px; /* top = -75px, radius = 45px, so circle's center point is at -30px */
	left: calc(50% - 45px);
	background-color: #7d4cdb;
	border-radius: 50%;
	z-index: 2;
}

.ticketSellContent {
	border-radius: 25px;
	margin: 0 16px;
	padding: 16px;
}
.verified {
	margin-left: -16px;
	> svg {
		> path {
			stroke: green !important;
			opacity: 0.85;
		}
	}
	> span {
		font-size: 0.9rem;
		opacity: 0.85;
		padding-left: 5px;
		font-weight: 550;
		color: green;
	}
}
.eventList {
	z-index: 1;
	padding-top: 0 !important;
}
.eventNameBox {
	> span:first-child {
		font-weight: 500;
		line-height: 18px;
		font-weight: 550;
	}
	> span:last-child {
		opacity: 0.6;
		line-height: 28px;
	}
}
.eventBoxHeight {
	> div {
		height: 90px;
	}
}
.dropDownButton {
	font-size: 0.9rem !important;
	margin: 0.45rem 0rem !important;
}
.filterBoxBorder {
	z-index: 4;
	border-bottom: 1px solid rgb(229, 231, 232);
	height: 60px;
}
.filterButton {
	box-shadow: none !important;
	width: 100vmin;
	> div {
		display: flex;
		justify-content: flex-start;
		text-align: flex-start;
	}
	margin: 0 !important;
	padding: 0 15px !important;
	border: 0px solid lightgray !important;
}

.filterHeader {
	font-size: 0.95rem;
	font-weight: 600;
	height: 2.5rem;
}
.filterSubHeader {
	font-size: 0.8rem;
	font-weight: 100;
	line-height: 0.7rem;
}
.selectButton {
	color: #7d4cdb !important;
}
.eventDetailBackground {
	z-index: 1;
	display: block;
	position: absolute;
	width: 100%;
	height: 260px;
	background: url(https://cdn.ticketswap.com/static/images/placeholders/festival-4.jpg);
	background-size: cover;
	background-position: center center;
}
.sellTicketBackground {
	height: 200px;
	top: 0;
}

.qrCode {
	height: 0;
	> img {
		width: 80px;
		padding-bottom: 10px;
	}
	position: relative;
	top: -110px;
	z-index: 2;
}

.eventDetailBackground::before,
.eventDetailBackground::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
}
.eventDetailBackground::before {
	height: 50%;
	opacity: 0.65;
	top: 0;
	background-image: linear-gradient(
		rgb(0, 19, 25) 0%,
		rgba(0, 19, 25, 0.737) 19%,
		rgba(0, 19, 25, 0.54) 34%,
		rgba(0, 19, 25, 0.38) 47%,
		rgba(0, 19, 25, 0.28) 56.5%,
		rgba(0, 19, 25, 0.192) 65%,
		rgba(0, 19, 25, 0.125) 73%,
		rgba(0, 19, 25, 0.075) 80.2%,
		rgba(0, 19, 25, 0.043) 86.1%,
		rgba(0, 19, 25, 0.02) 91%,
		rgba(0, 19, 25, 0.008) 95.2%,
		rgba(0, 19, 25, 0.004) 98.2%,
		rgba(0, 19, 25, 0) 100%
	);
}

.eventDetailBackground::after {
	bottom: 0px;
	height: 100%;
	background-image: linear-gradient(
		to top,
		rgb(0, 19, 25) 0%,
		rgba(0, 19, 25, 0.737) 19%,
		rgba(0, 19, 25, 0.54) 34%,
		rgba(0, 19, 25, 0.38) 47%,
		rgba(0, 19, 25, 0.28) 56.5%,
		rgba(0, 19, 25, 0.192) 65%,
		rgba(0, 19, 25, 0.125) 73%,
		rgba(0, 19, 25, 0.075) 80.2%,
		rgba(0, 19, 25, 0.043) 86.1%,
		rgba(0, 19, 25, 0.02) 91%,
		rgba(0, 19, 25, 0.008) 95.2%,
		rgba(0, 19, 25, 0.004) 98.2%,
		rgba(0, 19, 25, 0) 100%
	);
}

.ticketSell {
	z-index: 2;

	font-family: 'Proxima Nova', -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto,
		'segoe ui', arial, sans-serif;
}
.ticketSellBox {
	z-index: 1;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	top: 125px;
	position: relative;
	box-shadow: 0 1px 2px rgba(0, 19, 25, 0.2), 0 4px 12px rgba(0, 19, 25, 0.1);
	> div:last-child {
		height: 100%;
	}
}

.ticketSellRadius {
	top: 50px;
	position: relative;
	border-radius: 25px;
}

.ticketBuyBG1 {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	// background-color: #7d4cdb;
	background-color: #7d4cdb;
	background-image: linear-gradient(#7d4cdb, mediumpurple);
}
.ticketBuyBG1::before {
	position: absolute;
	content: '';
	width: 30vw;
	top: 175px;
	height: 20px;
	left: calc(50% - 15vw);
	background-color: #7d4cdb;
	border-radius: 0 0 50% 50%;
	z-index: 2;
	opacity: 0.9;
}

.ticketSellBG1 {
	position: absolute;
	width: 100%;
	height: 55vh;
	overflow: hidden;
	background-color: #7d4cdb;
}
.ticketSellBG2 {
	position: absolute;
	width: 100%;
	top: 50vh;
	height: 100px;
	overflow: hidden;
	border-radius: 0 0 70% 70%;
	background-color: #7d4cdb;
}
.ticketSellBG2:before {
	position: absolute;
	content: '';
	width: 120vw;
	height: 100px;

	left: calc(50% - 60vw);
	background-color: white;
	border-radius: 50% 50% 0 0;
}
.ticketSellMainBG {
	// background-color: mediumpurple;
}
.eventDetailSubHeader {
	z-index: 2;
}
.eventDetailHeaderParent {
	background-color: #001319;
	color: white;
	height: 225px;
	position: relative;
	top: 160px;
}
.sellTicketHeaderParent {
	padding-top: 32px !important;
	color: #001319;
	padding-bottom: 0 !important;
	border-bottom: 4px dotted lightgray;
}
.sellTicketCost {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 36px;
	background: #07c681;
	text-align: center;
	border-radius: 10px;
	> img {
		height: 18px;
	}
}
.sellTicketComment {
	textarea {
		height: 50px;
		padding-left: 15px;
		font-weight: 400;
	}
}
.sellTicketFormBox {
	padding-top: 40px !important;
	margin: 0 auto;
	> form {
		z-index: 1;
		> div:first-child {
			background: white;
		}
	}
}

.ticketCostCalculator {
	border-bottom: 1px dashed black;
}

.userTicketBox {
	box-shadow: 1px 2px 4px rgba(0, 19, 25, 0.2), 0 4px 12px rgba(0, 19, 25, 0.1);
	font-family: 'Proxima Nova', -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto,
		'segoe ui', arial, sans-serif;
	border-radius: 20px;
	margin-bottom: 30px;
	padding: 16px 16px 0 16px;
}
.appUserTicketsBox {
	overflow-y: scroll;
	padding: 8px 2px 0 2px;
	height: 400px;
	margin: 0px 6px;
}
.buyTicketButtonBox {
	padding: 20px 0 !important;
	> button {
		margin: 0 16px;
	}
}
.sellTicketHeader {
	padding-top: 25px;
	color: white;
}
.eventDetailHeader {
	position: relative;
	z-index: 2;
	padding-left: 16px;
}
.sellDetailHeader {
	padding-bottom: 8px;
}
.ticketBadge {
	background-color: #28383d;
	border-radius: 20px;
	height: 35px;
	padding: 10px;
	margin-right: 30px;
	font-family: 'Proxima Nova', -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto,
		'segoe ui', arial, sans-serif;
}
.ticketBadgeType {
	line-height: 14px !important;
	font-size: 0.6rem !important;
	font-weight: 600;
	opacity: 0.7;
	font-size: 0.8rem;
}
.ticketBadgeTickets {
	font-size: 0.8rem;
	line-height: 12px !important;
	font-size: 0.7rem !important;
	font-weight: 700;
}
.marginBottom1rem {
	margin-bottom: 1rem;
}
.bottomMargindot5rem {
	margin-bottom: 0.5rem;
}
.eventDetailTime {
	font-size: 0.95rem;
	> svg {
		margin-right: 0.5rem;
		> path {
			fill: lightgray !important;
			stroke: black !important;
		}
	}
}
.sellTicketHeader .eventDetailTime {
	> svg {
		> path {
			fill: white !important;
			stroke: black !important;
		}
	}
}
.userTicketDetail {
	font-size: 0.95rem;
	> svg {
		margin-right: 0.5rem;
	}
	> span {
		padding-left: 10px;
	}
}
.userTicketLocation {
	padding-left: 16px;
	> button {
		margin-right: -35px;
		font-size: 1rem;
		font-weight: 550;
	}
}
.sellButton {
	border-radius: 20px !important;

	color: white !important;
	font-weight: 500 !important;
	opacity: 0.95;
	width: 100%;
	height: 50px;
	font-size: 19px;
}
.buyButton {
	border-radius: 20px !important;

	color: white !important;
	font-weight: 500 !important;
	opacity: 0.95;
	width: 100%;
	height: 50px;
	font-size: 19px;
}
.sellTicketV2 {
	border-radius: 10px !important;
	height: 2.5rem;
	color: white !important;
	font-weight: 500 !important;
	font-size: 1rem !important;
	opacity: 0.95;
}
.eventTicketText {
	margin-right: 0.5rem;
}
.showMore {
	background-color: rgb(240, 251, 254);
	border-radius: 15px;
	height: 60px;
}
.showMore .showMoreIcon {
	stroke: rgb(0, 182, 240);
	height: 35px;
	width: 35px;
}
.notifyButton {
	background-color: #22a1f1 !important;
	color: white;
	border: 0 !important;
	margin-right: -25px !important;
}
.notificatioIcon {
	height: 20px !important;
	width: 20px !important;
}
.showMoreText {
	color: rgb(0, 182, 240);
	> span:first-child {
		font-size: 0.95rem;
		font-weight: 500;
	}
	> span:last-child {
		font-size: 0.8rem;
		opacity: 0.7;
		line-height: 0.8rem;
	}
}

.loaderText {
	width: 300px;
	text-align: center;
}

// skelton loaders

$base-color: #f4f4f4;
$shine-color: rgba(229, 229, 229, 0.8);
$animation-duration: 2s;
$avatar-offset: 52 + 16;

@mixin background-gradient {
	background-image: linear-gradient(90deg, $base-color 0px, $shine-color 40px, $base-color 80px);
	background-size: 600px;
}

.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.post {
	width: 220px;
	height: 80px;
}
.avatar {
	float: left;
	width: 52px;
	height: 52px;
	background-color: #ccc;
	border-radius: 25%;
	margin: 8px;

	@include background-gradient;
	animation: shine-avatar $animation-duration infinite ease-out;
}
.line {
	float: left;
	width: 140px;
	height: 16px;
	margin-top: 12px;
	border-radius: 7px;

	@include background-gradient;
	animation: shine-lines $animation-duration infinite ease-out;
}

.avatar + .line {
	margin-top: 11px;
	width: 100px;
}

.line ~ .line {
	background-color: #ddd;
}

@keyframes shine-lines {
	0% {
		background-position: -100px;
	}

	40%,
	100% {
		background-position: 140px;
	}
}

@keyframes shine-avatar {
	0% {
		background-position: -100px + $avatar-offset;
	}

	40%,
	100% {
		background-position: 140px + $avatar-offset;
	}
}
