html,
body {
  scroll-behavior: smooth;

  height: 100%;
}
.appMenuHeader {
  font-weight: 600;
  z-index: 1;
  color: #7d4cdb;
}

.appFirstPageBackgroundImage {
  background: url("https://cdn.ticketswap.com/public/201810/9b09e0c7-9852-496c-bebd-4edaaa839529.36abaf06f65fbaa0971d7bb9d6c45ab0fff5ddc0.jpeg");
  height: calc(var(--vh, 1vh) * 100);
  background-position: center;
  color: white;
  justify-content: space-between;

  /* background-repeat: no-repeat; */
}
.categoryBackground {
  z-index: -1;
  position: absolute;
  top: 0;
  height: 25vh;
  width: 100vw;

  background-color: lightslategray;
}
.appMenuHeader {
  font-weight: 600;
  color: rgb(0, 182, 240);
}
.appContentBox {
  height: calc(var(--vh, 1vh) * 100);
}

.appMenuPage {
  animation: skew 0.25s !important;
  transform-style: preserve-3d;
}
.appDesc {
  text-align: center;
  font-size: x-large;
  line-height: 2rem;
  margin-top: 7vh;
}

.appSearch {
  font-weight: 100 !important;
  background-color: white !important;
  padding-left: 42px !important;
}
.appSearchIcon {
  position: absolute;
  z-index: 2;
  left: 24px;
}
.appMenuButton {
  margin-top: 10px !important;
  border: 0px !important;
  border-radius: 10px !important;
  height: 3rem;
  background-color: #f5f5f6 !important;
  > div {
    justify-content: space-between !important;
  }
}

.categoryButton {
  margin-top: 10px !important;
  border: 0px !important;
  border-radius: 10px !important;
  height: 3rem;
  background-color: #f5f5f6 !important;
  > div {
    justify-content: start !important;
  }
}
.sellTicket {
  border-radius: 10px !important;
  height: 3rem;
  color: white !important;
  font-weight: 600 !important;
}
.dropDownContent {
}

@keyframes skew {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.eventBox {
  margin: 10px;
  border: 1px solid lightgray;
  border-radius: 20px;
  > div:last-child {
    border-bottom: 0;
  }
}
.dropDownButton {
  font-size: 0.9rem !important;
  margin: 0.45rem 0rem !important;
}
.filterBox {
  border-bottom: 1px solid lightgray;
}
.filterButton {
  box-shadow: none !important;
  width: 100vmin;
  > div {
    display: flex;
    justify-content: start;
    text-align: start;
  }
  margin: 0;
  border: 0px solid lightgray !important;
}

.filterHeader {
  font-size: 0.95rem;
  font-weight: 600;
  height: 2.5rem;
}
.filterSubHeader {
  font-size: 0.8rem;
  font-weight: 100;
  line-height: 0.7rem;
}
.selectButton {
  color: #7d4cdb !important;
}
